[Unit]
Description=Docker HostName Auto Updater
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker-sync
Restart=always

[Install]
WantedBy=multi-user.target