[Unit]
Description=Docker DNSMasq Auto Updater
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker-dnsmasq-sync.sh
Restart=always

[Install]
WantedBy=multi-user.target
